<!DOCTYPE html>
<html>
<head>
  <title>MATSTATLAB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
      <ul class="nav">
      <li><div style="padding: 10px;">Math and Statistics Laboratory</div></li>
      <li class="active" style="margin-left: 60px;"><%= link_to "Home", root_url %></li>
      <li><%= link_to "About", about_url %></li>
      <li><%= link_to "Contact", root_url %></li>  
      </ul>  
  </div>  
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <!-- <li class="nav-header">Statistics</li>   -->
          <li><%= link_to "Univariate Statistics", root_url %></li>
          <li><a href="/two_sample_test">Two Sample Tests</a></li>
          <li><a href="/one_way_anovas">One Way ANOVA</a></li>
          <li><a href="/linear_regressions">Simple Linear Regression</a></li>
          <li><%= link_to "QQ-Plots", root_url %></li>
          <li><%= link_to "Generalized Linear Models", root_url %></li>
          <!-- <li class="nav-header">Linear Algebra</li>   -->
          <li><%= link_to "Gram Schmidt Process", root_url %></li>
          <li><%= link_to "Matrices", root_url %></li>
       </ul>  
      </div> 
    </div> 
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>